/* Font Properties */
body {
    font-family:'Courier New', Courier, monospace;
    font-size: 16px;
    font-weight: normal;
    text-transform: none;
}

/* Color */
h1 {
    color: rgb(156, 232, 85);
}

/* Alignment of Text */
p {
    text-align: justify;
}

/* Box Model */
.box {
    width: 200px;
    height: 100px;
    padding: 20px;
    border: 2px solid rgb(0, 255, 8);
    margin: 20px;
}

/* Backgroud Images */
.bg-image {
    background-image: url('bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px;
    color: white;
    padding: 20px;
}

/* <span> and <div> Tags  
    We us the highlight 
    class selector to show how to use inline divs
*/
.highlight {
    background-color: rgb(178, 0, 210);
}

/* Conflict Resolution */
.conflict {
    background-color: blueviolet;
    border: 2px solid red;
    padding: 10px;
    margin: 10px;
}
/* Conflicting styles follow a hierarchy */
.conflict {
    background-color: #e73cb9;
    border: 2px solid #7e39ff;
    padding: 10px;
    margin: 10px;
}


.vtwo {
    margin: 0.5rem;
    background-color: #7754ff;
    border: 2px solid #e73cb9;
    border-color: aqua;
}

