.nav-bar {
    display: flex;
    justify-content: space-between;
}

.hero {
    font-size: 300px;
    font-weight: bold;
    text-align: center;
}

body {
    padding-top: 0.5rem;
    padding-left: 2rem;
    padding-right: 2rem;
    font-family: 'Courier New', Courier, monospace;
}

.d-one {
    border: black 1px solid;
    height:350px;
    border-right: 0px;
    width: 25%;
}
.d-year {
    border-left: black 1px solid;
    border-right: black 0px solid;
    border-top: black 1px solid;
    border-bottom: black 1px solid;
    height:350px;
    width: 25%;
}
.d-similarity {
    border-left: black 1px solid;
    border-top: black 1px solid;
    border-bottom: black 1px solid;
    height:350px;
    width: 25%;
}

p{
    padding: 10px;
}

img {
    padding: 10px;
}

.d-one-h {
    display: flex;
    justify-content: space-between;
}

.section-one {
    display: flex;
}

.d-appearance {
    border: black 1px solid;
    border-left: 0px;
    border-right: 0px;
    height:350px;
    width: 25%;
    
}

body {
    overflow:visible; /* Hide scrollbars */
    background-color: #e2ddcf;
  }

.d-last {
    border: black 1px solid;
    border-right: 0px;
    height:350px;
    width: 25%;
    border-left: opx;
    
}

.horizontal {
    border-bottom: black 1px solid;;
}

.content-container {
    align-content: center;
}

.star {
    height: 100px;
    width: 100px;
}

.menu-icon {
    padding-bottom: 9px;
}

.row-icon {
    padding-top: 2rem;
}

.arrow-icon {
    padding-top: 34px;
}

.section-two {
    display: flex;
}

.left-section-two {
    border-right: black 1px solid;
    height:350px;
    width: 50%;

}

.right-section-two {
    border-left: black 0px solid;

    height:350px;
    width: 50%;

}

.left-section-two-row {
    display: flex;
    padding-left: 10px;
    justify-content: space-between;
}

.section-two-date {
    font-weight: 600;
    width: 50%;
}

.section-two-typefaces {
    font-weight: 600;
    width: 20%;
}
.section-two-curated {
    font-weight: 600;
    width: 30%;
}

.latest-inclusions {
    font-size: 25px;
    font-weight: bold;
}

.section-one-headers{
    font-size: 25px;
    font-weight: bold;
}

.recents-row {
    display: flex;
    padding-left: 10px;
    justify-content: space-between;
}

.right-section-two-date {
    padding-top: 20px;
}

.designer {
    justify-content: left;
}

.digestive {
    font-weight: bold;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
}